non-neuronal cells.h5ad
autoannotation
other_auto_annotation_things
non-neuronal_cells.zarr
.ipynb_checkpoints/Non-neuronal-checkpoint.ipynb
.DS_Store
.gitattributes
auto-annotation/
sc-ATLAS expression.xlsx
sc-Atlas workflow.pptx
Sc-atlas method outline.docx
~$-atlas method outline.docx
~$sc-ATLAS expression.xlsx
/External Segment of globus pallidus/externalGP.zarr
External Segment of globus pallidus/external_segment_globus_pallidus.h5ad
External Segment of globus pallidus/.ipynb_checkpoints/externalGP-checkpoint.ipynb
/External Segment of globus pallidus/auto-annotation-ah
*.tiff
/Basal Forebrain - Septal Nuclear Complex /BF_septal_nuclei.zarr
Basal Forebrain - Septal Nuclear Complex /.ipynb_checkpoints/Basal_forebrain-checkpoint.ipynb
Old Work/Basal Forebrain - Septal Nuclear Complex /BF_septal_nuclei.zarr/.zattrs
GPe.h5ad
CaB.h5ad
GPi.h5ad
NAC.h5ad
PU.h5ad
SN_VTA.h5ad
SN.h5ad
STH.h5ad
sc-RNA atlas.code-workspace
Old Work
/Users/saatvikviniak/Desktop/Lab work/sc-RNA atlas/auto-annotation-ah
*.zarr
/*.zarr
*.zarr
/*.h5ad
STH_clustered.h5ad
STH_without_doublet.h5ad
**/__pycache__/
*.pyc
*.pyo
*.pyd
KEGG_RIBOSOME.v2026.1.Hs.txt
convergence_test.pdf
*.txt